
  <body>
    <div class="input">
      <form id="map_search">
      <input type="text" id="address" name="address">
      <input type="submit" class="btn" value="Search">
      </form>
    </div>
    <div id="map"></div>

    <div id="story"></div>


    <!-- Button trigger modal -->
<!--button id="myModalBtn" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button-->

<a href="#" id="myModalBtn" data-toggle="modal" data-target="#myModal">Tell My Story</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= render 'places/form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    <div id="test">
      <p>Test <em>sdsdf</em></p>
    </div>

    <script type="text/javascript">
    var places = <%= raw(Place.all.to_json) %>;

    $(document).ready(function(){
      $('#myModalBtn').click(function(){
        $('#myModal').modal();
      });

      // create variable for collection of places


      // $.each(places, function(index, value){
      //   console.log(value)
      // });

      // loop through it

      // add market for each place


    })
    </script>




